.footer {
    background-color: black;
    text-align: center;
    align-items: center;
    padding: 66px 0;


    .container {
        @media (max-width:$tab) {
            margin: 0;
        }

        // @media (max-width:320px) {
        //     display: 0;
        // }
    }

    h2 {
        color: #FEFEFE;
        margin-top: 0;
        margin-bottom: 22px;
    }

    p {

        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        color: $gray;
        margin: 0 20px;

        @media (max-width:$phone) {
            font-weight: 400;
            font-size: 12px;
            line-height: 20px;
            color: $gray;
            margin: 0 20px;
        }
    }

    .icons {
        margin: 37px 0;

        img {
            margin-right: 6px;
            cursor: pointer;


        }
    }

    .contact {
        @media (max-width:$phone) {
            margin: 0 80px;
        }
    }

}