// header {
//     @media (max-width:$phone) {
//         .topnav {
//             .burger-menu {
//                 // background-image: url("/src/img/dropdown.jpg");

//                 display: flex;
//                 justify-content: flex-end;
//                 margin: 23px 0;

//                 &.active {
//                     transition: 2s;
//                     position: absolute;
//                     width: 182px;
//                     height: 208px;
//                     left: 1px;
//                     top: 37px;
//                 }
//             }

//         }
//     }

//     @media (min-width:$tab) {
//         display: none;

//         .topnav {
//             .burger-menu {
//                 display: flex;
//                 justify-content: flex-end;
//                 margin: 23px 0;
//             }
//         }
//     }


//     ul {
//         @include flex-sb;
//         flex-direction: row;
//         padding: 0;
//         margin: 45px 140px 51px;

//         @media (max-width:$tab) {
//             display: none;
//             margin: 45px 60px 51px;
//         }

//         @media (max-width:$phone) {
//             display: none;
//         }

//         li {
//             list-style-type: none;
//             text-transform: uppercase;
//             cursor: pointer;

//             a {
//                 color: $very-very-darkgray;
//                 text-decoration: none;

//                 &:hover {
//                     color: $Cadetblue ;
//                 }

//                 // &.active {
//                 //     position: absolute;
//                 //     top: 100%;
//                 //     right: 0;
//                 //     display: block;
//                 //     width: 200px;
//                 //     background-color: #F5F5F5;
//                 //     margin: 0;
//                 // }

//             }
//         }



//     }

//     @media (max-width:768px) {
//         flex-wrap: nowrap;
//     }
// }

header {


    &.container {
        padding: 0;
    }

    @media (min-width: $tab) {}
}

.top-nav {
    ul {
        display: flex;
        flex-direction: row;
        padding: 0;
        background-color: #fff;
        justify-content: space-between;


    }

    li {

        justify-content: center;
    }

    @media (max-width:$phone) {
        position: absolute;
        color: white;
        background-color: black;
        height: 37px;
        // margin: 23px 0 23px 290px;


        top: 23px;
        right: 26px;


    }




    a {
        color: $very-very-darkgray;
        text-decoration: none;
        // margin-left: 20px;
    }

    & i {
        font-size: 20px;
        line-height: 36px;
        display: none;

    }

    & i.active {
        display: block;
        box-sizing: border-box;
        width: 48px;
        height: 37px;
        text-align: center;



    }

    &__list {
        display: none;
    }

    &__list.active {
        position: absolute;
        top: 37px;
        right: 0;
        display: block;
        width: 208px;
        background-color: #F5F5F5;
        margin: 0;
        display: flex;
        flex-direction: column;
        padding: 0;


        @media (min-width:$phone) {
            li {
                width: 100%;
                height: 100%;

            }

            li:hover {
                background-color: #E5E5E5;
                // margin-right: 10px;
                // transition: margin-right 2s ease-in-out;
            }

        }


    }

    &__item {
        display: none;
        text-transform: uppercase;
        width: max-content;
    }

    &__item.active {
        display: block;

        font-weight: 400;
        font-size: 11px;
        line-height: 22px;

        padding: 4px 0 10px 20px;
    }



    & a:hover {
        color: $cadetblue;

    }

    @media (min-width: $tab) {

        margin: 45px 55px 43px;

        &__list {
            // @include flex-sb;
            justify-content: space-between;

        }

        & i,
        & i.active {
            display: none;
        }

        &__item {
            display: block;
            text-align: center;
        }
    }

    @media (min-width: $desk) {

        margin: 45px 145px 43px;

        &__list {
            // @include flex-sb;
            justify-content: space-between;

        }

        & i,
        & i.active {
            display: none;
        }

        &__item {
            display: block;
        }
    }


}