#instagram {
    background-color: $verylightGray;
    padding-bottom: 49px;

    @media (max-width:$phone) {

        background-color: $white;
    }

    .top-flex {
        @include flex-sb;

        h2 {
            margin: 47px 0 24px;

            a {
                &:hover {
                    color: $cadetblue;
                }

                @media (max-width:$phone) {

                    display: none;
                }

                text-decoration: none;
                color: $very-very-darkgray;

            }
        }
    }

    .galery-inst {

        display: flex;
        flex-direction: row;
        justify-content: space-between;



        @media (max-width:$tab) {
            justify-content: center;

            img {
                width: 30%;
                margin-right: 10px;
            }

            .mr0 {
                display: none;
            }
        }

        @media (max-width:950px) {
            justify-content: center;

            img {
                width: 30%;
                margin-right: 10px;
            }

            .mr0 {
                display: none;
            }
        }

        @media (max-width:$phone) {

            & img {
                width: 100%;
            }

            & img:nth-child(2) {
                display: none;
            }

            & img:nth-child(3) {
                display: none;
            }


        }
    }




}