#journal {
    margin-top: 66px;
    padding-bottom: 50px;

    @media (max-width: $tab) {
        margin-top: 56px;

    }

    @media (max-width: $phone) {
        margin-top: 56px;

    }

    h2 {
        margin: 0 0 24px 0;
    }

    .posts {
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 32px;

        @media (max-width: $tab) {
            grid-template-columns: 100%;

        }

        @media (max-width: $phone) {
            & .post:nth-child(4) {
                display: none;
            }
        }

    }

    .post {
        display: grid;
        grid-template-columns: 0fr 2fr;

        @media (max-width: $tab) {
            grid-template-columns: 0fr 1fr;

        }

        @media (max-width: $phone) {
            grid-template-columns: 1fr;
        }

        .img-post {
            @media (max-width: $phone) {
                margin-bottom: 11px;
            }
        }

        h2 {
            margin-bottom: 0;
            text-transform: capitalize;
        }
    }

    .content-post {
        @media (min-width:$desk) {
            margin-left: 20px;
        }

        @media (min-width:$tab) {
            margin-left: 20px;
        }

        @media (max-width:$phone) {
            margin-left: 0px;

            .post-text {
                display: none;
            }
        }

    }
}