$red: red;
$white: white;
$cadetblue: #57A4A4;
$black: black;
$very-very-darkgray: #4E4E4E;
$darkGray : #7C7C7C;
$verydarkGray :#5C5C5C;
$verylightGray: #f7f7f7;
$gray: #B9B9B9;

//res
$phone: 450px;
$tab: 768px;
$desk: 1200px;