.container {
    box-sizing: border-box;
    max-width: 1170px;
    margin: 0 auto;

    @media (max-width: $tab) {
        max-width: $tab;
        margin: 0 80px;
    }

    @media (max-width: $phone) {
        max-width: $phone;
        margin: 0 26px;
    }
}

body {
    font-family: 'Roboto';
    font-style: normal;

    ul {
        font-weight: 400;
        font-size: 11px;
        line-height: 22px;
    }
}

#home {
    // margin: 0 auto;

    img {
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;

        @media (max-width:$phone) {
            margin-top: 83px;
        }
    }
}

h2 {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    color: $very-very-darkgray;

}

h3 {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: $gray;
}


.span-author {

    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: $darkGray;
}

.post-text {

    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: $verydarkGray;
}